.impo{
    display: flex;
    flex-direction: row;
}

.portdiv{
    padding-left: 10px;
}

#portoliver{
    border: thin solid black;
    border-width: 2px;
    width: 80%;
    height: 80%;
}
#portwilli{
    border: thin solid black;
    border-width: 2px;
    width: 60%;
    height: 60%;
}